
@{
    ViewBag.Title = "Index";
}

<div class="form-group col">
    <div class="col-md-2">
        <h2>
            @Html.ActionLink("Create New", "Create")
        </h2>
    </div>
    <div class="col-md-10">
        <h2>
            @Html.ActionLink("Search Employee", "Display")
        </h2>
    </div>
</div>